RewriteEngine On
RewriteBase /

# If the requested file exists, serve it
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# If the requested directory exists, serve it
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise, try adding .html
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

# Fallback to 404.html
RewriteRule ^ /404.html [L]
